.scrollbar::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
    border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(172, 172, 173);
    border-radius: 10rem;
    border: 1px solid #fff;
}

.scrollbar::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

.scrollbar::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

.scrollable-view {
    scrollbar-gutter: stable;
    overflow: hidden;
    overscroll-behavior: auto;
}

.scrollable-view:hover {
    overflow: auto;
}

.scrollable-view::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
    border-radius: 6px;
}

.scrollable-view::-webkit-scrollbar-thumb {
    background-color: rgba(172, 172, 173);
    border-radius: 10rem;
    border: 1px solid #fff;
}

.scrollable-view::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

.scrollable-view::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

.ant-tabs-content {
    display: flex;
    width: 100%;
}

.ant-tabs-content-holder {
    display: flex;
}

.ant-tabs-tabpane {
    flex: none;
    width: 100%;
    outline: none;
}

.tabs-edit-account.ant-tabs-left > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane, .ant-tabs-left > div > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane{
    padding-left: 0px !important;
}

.flex-grow-limit {
    flex-grow: 1;
    min-height: 0px;
    min-width: 0px;
}