.ck-content {
  min-height: 300px;
  max-height: 1000px;
}

.ck-content::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
  border-radius: 6px;
}

.ck-content::-webkit-scrollbar-thumb {
  background-color: rgba(172, 172, 173);
  border-radius: 10rem;
  border: 1px solid #fff;
}

.ck-content::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

.ck-content::-webkit-scrollbar-track-piece:end {
  background: transparent;
}
